@page "/forms-input-groups"

<Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">Input Groups</Heading>

<Row>
    <Column ColumnSize="ColumnSize.Is12.Is6.OnFullHD">
        <Card>
            <CardHeader>
                <CardTitle Size="5" Margin="Margin.Is0.FromBottom">Input</CardTitle>
            </CardHeader>
            <CardBody>
                <Field>
                    <Addons>
                        <Addon AddonType="AddonType.Start">
                            <AddonLabel>@@</AddonLabel>
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit Placeholder="Username" />
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit Placeholder="Recipient's username" />
                        </Addon>
                        <Addon AddonType="AddonType.End">
                            <AddonLabel>@@example.com</AddonLabel>
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <Addons>
                        <Addon AddonType="AddonType.Start">
                            <AddonLabel>https://example.com/users/</AddonLabel>
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit />
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <Addons>
                        <Addon AddonType="AddonType.Start">
                            <AddonLabel>$</AddonLabel>
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit />
                        </Addon>
                        <Addon AddonType="AddonType.End">
                            <AddonLabel>.00</AddonLabel>
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <Addons>
                        <Addon AddonType="AddonType.Start">
                            <AddonLabel>$</AddonLabel>
                            <AddonLabel>0.00</AddonLabel>
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit />
                        </Addon>
                    </Addons>
                </Field>
            </CardBody>
        </Card>
        <Card>
            <CardHeader>
                <CardTitle Size="5" Margin="Margin.Is0.FromBottom">Checkbox and radio addons</CardTitle>
            </CardHeader>
            <CardBody>
                <Row>
                    <Column>
                        <Field>
                            <Addons>
                                <Addon AddonType="AddonType.Start">
                                    <AddonLabel>
                                        <Check TValue="bool" />
                                    </AddonLabel>
                                </Addon>
                                <Addon AddonType="AddonType.Body">
                                    <TextEdit Placeholder="Checkbox" />
                                </Addon>
                            </Addons>
                        </Field>
                    </Column>
                    <Column>
                        <Field>
                            <Addons>
                                <Addon AddonType="AddonType.Start">
                                    <AddonLabel>
                                        <Radio TValue="bool" />
                                    </AddonLabel>
                                </Addon>
                                <Addon AddonType="AddonType.Body">
                                    <TextEdit Placeholder="Radio" />
                                </Addon>
                            </Addons>
                        </Field>
                    </Column>
                </Row>
            </CardBody>
        </Card>
        <Card>
            <CardHeader>
                <CardTitle Size="5" Margin="Margin.Is0.FromBottom">Sizing</CardTitle>
            </CardHeader>
            <CardBody>
                <Field>
                    <Addons Class="input-group-lg">
                        <Addon AddonType="AddonType.Start">
                            <AddonLabel>@@</AddonLabel>
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit Placeholder="Username" />
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <Addons>
                        <Addon AddonType="AddonType.Start">
                            <AddonLabel>@@</AddonLabel>
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit Placeholder="Username" />
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <Addons Class="input-group-sm">
                        <Addon AddonType="AddonType.Start">
                            <AddonLabel>@@</AddonLabel>
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit Placeholder="Username" />
                        </Addon>
                    </Addons>
                </Field>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.Is6.OnFullHD">
        <Card>
            <CardHeader>
                <CardTitle Size="5" Margin="Margin.Is0.FromBottom">Select addons</CardTitle>
            </CardHeader>
            <CardBody>
                <Field>
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <Select TValue="int">
                                <SelectItem TValue="int" Value="0">Select...</SelectItem>
                                <SelectItem TValue="int" Value="1">One</SelectItem>
                                <SelectItem TValue="int" Value="2">Two</SelectItem>
                                <SelectItem TValue="int" Value="3">Three</SelectItem>
                            </Select>
                        </Addon>
                        <Addon AddonType="AddonType.Start">
                            <Button Color="Color.Secondary">Go!</Button>
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit Placeholder="Search for..." />
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <Select TValue="int">
                                <SelectItem TValue="int" Value="0">Select...</SelectItem>
                                <SelectItem TValue="int" Value="1">One</SelectItem>
                                <SelectItem TValue="int" Value="2">Two</SelectItem>
                                <SelectItem TValue="int" Value="3">Three</SelectItem>
                            </Select>
                        </Addon>
                        <Addon AddonType="AddonType.End">
                            <Button Color="Color.Secondary">Go!</Button>
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <Select TValue="int">
                                <SelectItem TValue="int" Value="0">Select...</SelectItem>
                                <SelectItem TValue="int" Value="1">One</SelectItem>
                                <SelectItem TValue="int" Value="2">Two</SelectItem>
                                <SelectItem TValue="int" Value="3">Three</SelectItem>
                            </Select>
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit Placeholder="Search for..." />
                        </Addon>
                        <Addon AddonType="AddonType.End">
                            <Button Color="Color.Secondary">Go!</Button>
                        </Addon>
                    </Addons>
                </Field>
                <Field>
                    <Addons>
                        <Addon AddonType="AddonType.Start">
                            <Button Color="Color.Secondary">Go!</Button>
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit Placeholder="Search for..." />
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <Select TValue="int">
                                <SelectItem TValue="int" Value="0">Select...</SelectItem>
                                <SelectItem TValue="int" Value="1">One</SelectItem>
                                <SelectItem TValue="int" Value="2">Two</SelectItem>
                                <SelectItem TValue="int" Value="3">Three</SelectItem>
                            </Select>
                        </Addon>
                    </Addons>
                </Field>
            </CardBody>
        </Card>
        <Card>
            <CardHeader>
                <CardTitle Size="5" Margin="Margin.Is0.FromBottom">Button addons</CardTitle>
            </CardHeader>
            <CardBody>
                <Row>
                    <Column>
                        <Field>
                            <Addons>
                                <Addon AddonType="AddonType.Start">
                                    <Button Color="Color.Secondary">Go!</Button>
                                </Addon>
                                <Addon AddonType="AddonType.Body">
                                    <TextEdit Placeholder="Search for..." />
                                </Addon>
                            </Addons>
                        </Field>
                    </Column>
                    <Column>
                        <Field>
                            <Addons>
                                <Addon AddonType="AddonType.Body">
                                    <TextEdit Placeholder="Search for..." />
                                </Addon>
                                <Addon AddonType="AddonType.End">
                                    <Button Color="Color.Secondary">Go!</Button>
                                </Addon>
                            </Addons>
                        </Field>
                    </Column>
                </Row>
                <Field>
                    <Addons>
                        <Addon AddonType="AddonType.Start">
                            <Button Color="Color.Secondary">Hate it</Button>
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit Placeholder="Product name" />
                        </Addon>
                        <Addon AddonType="AddonType.End">
                            <Button Color="Color.Secondary">Love it</Button>
                        </Addon>
                    </Addons>
                </Field>
            </CardBody>
        </Card>
        <Card>
            <CardHeader>
                <CardTitle Size="5" Margin="Margin.Is0.FromBottom">Buttons with dropdowns</CardTitle>
            </CardHeader>
            <CardBody>
                <Row>
                    <Column>
                        <Field>
                            <Addons>
                                <Addon AddonType="AddonType.Start">
                                    <Dropdown>
                                        <DropdownToggle Color="Color.Secondary">Action</DropdownToggle>
                                        <DropdownMenu>
                                            <DropdownItem>Action</DropdownItem>
                                            <DropdownItem>Another Action</DropdownItem>
                                            <DropdownItem>Something else here</DropdownItem>
                                            <DropdownDivider />
                                            <DropdownItem>Separated link</DropdownItem>
                                        </DropdownMenu>
                                    </Dropdown>
                                </Addon>
                                <Addon AddonType="AddonType.Body">
                                    <TextEdit />
                                </Addon>
                            </Addons>
                        </Field>
                    </Column>
                    <Column>
                        <Field>
                            <Addons>
                                <Addon AddonType="AddonType.Body">
                                    <TextEdit />
                                </Addon>
                                <Addon AddonType="AddonType.End">
                                    <Dropdown>
                                        <DropdownToggle Color="Color.Secondary">Action</DropdownToggle>
                                        <DropdownMenu>
                                            <DropdownItem>Action</DropdownItem>
                                            <DropdownItem>Another Action</DropdownItem>
                                            <DropdownItem>Something else here</DropdownItem>
                                            <DropdownDivider />
                                            <DropdownItem>Separated link</DropdownItem>
                                        </DropdownMenu>
                                    </Dropdown>
                                </Addon>
                            </Addons>
                        </Field>
                    </Column>
                </Row>
            </CardBody>
        </Card>
        <Card>
            <CardHeader>
                <CardTitle Size="5" Margin="Margin.Is0.FromBottom">Segmented buttons</CardTitle>
            </CardHeader>
            <CardBody>
                <Row>
                    <Column>
                        <Field>
                            <Addons>
                                <Addon AddonType="AddonType.Start">
                                    <Dropdown>
                                        <Button Color="Color.Secondary">Action</Button>
                                        <DropdownToggle Color="Color.Secondary" Split />
                                        <DropdownMenu>
                                            <DropdownItem>Action</DropdownItem>
                                            <DropdownItem>Another Action</DropdownItem>
                                            <DropdownItem>Something else here</DropdownItem>
                                            <DropdownDivider />
                                            <DropdownItem>Separated link</DropdownItem>
                                        </DropdownMenu>
                                    </Dropdown>
                                </Addon>
                                <Addon AddonType="AddonType.Body">
                                    <TextEdit />
                                </Addon>
                            </Addons>
                        </Field>
                    </Column>
                    <Column>
                        <Field>
                            <Addons>
                                <Addon AddonType="AddonType.Body">
                                    <TextEdit />
                                </Addon>
                                <Addon AddonType="AddonType.End">
                                    <Dropdown>
                                        <Button Color="Color.Secondary">Action</Button>
                                        <DropdownToggle Color="Color.Secondary" Split />
                                        <DropdownMenu>
                                            <DropdownItem>Action</DropdownItem>
                                            <DropdownItem>Another Action</DropdownItem>
                                            <DropdownItem>Something else here</DropdownItem>
                                            <DropdownDivider />
                                            <DropdownItem>Separated link</DropdownItem>
                                        </DropdownMenu>
                                    </Dropdown>
                                </Addon>
                            </Addons>
                        </Field>
                    </Column>
                </Row>
            </CardBody>
        </Card>
    </Column>
</Row>