@page "/404"
@layout BlogUI.Layouts.AuthLayout
<Row Height="Height.Is100">
    <Column Height="Height.Is100" ColumnSize="ColumnSize.Is10.OnTablet.Is8.OnDesktop.Is6.OnWidescreen" Margin="Margin.IsAuto.OnX" Display="Display.Table">
        <Div Display="Display.TableCell" VerticalAlignment="VerticalAlignment.Middle">
            <Div TextAlignment="TextAlignment.Center" Margin="Margin.Is4.FromTop">
                <DisplayHeading Size="DisplayHeadingSize.Is1" TextWeight="TextWeight.Bold" TextAlignment="TextAlignment.Center">404</DisplayHeading>
                <Heading Size="HeadingSize.Is1" TextAlignment="TextAlignment.Center">Page not found.</Heading>
                <Heading Size="HeadingSize.Is2" TextAlignment="TextAlignment.Center" Margin="Margin.Is3.FromTop.Is4.FromBottom">
                    The page you are looking for might have been removed.
                </Heading>
                <Button Type="ButtonType.Link" To="dashboard-default" Color="Color.Primary">Return to website</Button>
            </Div>
        </Div>
    </Column>
</Row>