@page "/auth-reset-password"
@layout BlogUI.Layouts.AuthLayout
<Row Height="Height.Is100">
    <Column Height="Height.Is100" ColumnSize="ColumnSize.Is10.OnTablet.Is8.OnDesktop.Is6.OnWidescreen" Margin="Margin.IsAuto.OnX" Display="Display.Table">
        <Div Display="Display.TableCell" VerticalAlignment="VerticalAlignment.Middle">
            <Text TextAlignment="TextAlignment.Center" Margin="Margin.Is4.FromTop">
                <Heading Size="HeadingSize.Is2" TextAlignment="TextAlignment.Center">Reset password</Heading>
                <Paragraph Class="lead" TextAlignment="TextAlignment.Center">
                    Enter your email to reset your password.
                </Paragraph>
            </Text>

            <Card>
                <CardBody>
                    <Div Margin="Margin.Is4.OnTablet">
                        <Form>
                            <Field>
                                <FieldLabel>Name</FieldLabel>
                                <TextEdit Placeholder="Enter your name" />
                            </Field>
                            <Field TextAlignment="TextAlignment.Center">
                                <Button Color="Color.Primary">Reset password</Button>
                            </Field>
                        </Form>
                    </Div>
                </CardBody>
            </Card>
        </Div>
    </Column>
</Row>