@page "/auth-sign-in"
@layout BlogUI.Layouts.AuthLayout
<Row Height="Height.Is100">
    <Column Height="Height.Is100" ColumnSize="ColumnSize.Is10.OnTablet.Is8.OnDesktop.Is6.OnWidescreen" Margin="Margin.IsAuto.OnX" Display="Display.Table">
        <Div Display="Display.TableCell" VerticalAlignment="VerticalAlignment.Middle">
            <Text TextAlignment="TextAlignment.Center" Margin="Margin.Is4.FromTop">
                <Heading Size="HeadingSize.Is2" TextAlignment="TextAlignment.Center">Welcome back, @Persons.Avatar1.FirstName</Heading>
                <Paragraph Class="lead" TextAlignment="TextAlignment.Center">
                    Sign in to your account to continue
                </Paragraph>
            </Text>

            <Card>
                <CardBody>
                    <Div Margin="Margin.Is4.OnTablet">
                        <Div TextAlignment="TextAlignment.Center">
                            <Image Source="@Persons.Avatar1.Image" Text="@Persons.Avatar1.FullName" Border="Border.RoundedCircle" Fluid Style="width:132px; height:132px;" />
                        </Div>
                        <Form>
                            <Field>
                                <FieldLabel>Email</FieldLabel>
                                <TextEdit Role="TextRole.Email" Placeholder="Enter your email" />
                            </Field>
                            <Field>
                                <FieldLabel>Password</FieldLabel>
                                <FieldBody>
                                    <TextEdit Role="TextRole.Password" Placeholder="Enter your password" />
                                </FieldBody>
                                <Small>
                                    <Blazorise.Link To="pages-reset-password.html">Forgot password?</Blazorise.Link>
                                </Small>
                            </Field>
                            <Field>
                                <Check TValue="bool">Remember me next time</Check>
                            </Field>
                            <Field TextAlignment="TextAlignment.Center">
                                <Button Color="Color.Primary" Size="Size.Large">Sign in</Button>
                            </Field>
                        </Form>
                    </Div>
                </CardBody>
            </Card>
        </Div>
    </Column>
</Row>