@inherits LayoutComponentBase
<Div Class="main" Flex="Flex.JustifyContent.Center" Width="Width.Is100">
    <Div Class="content" Display="Display.Flex" Padding="Padding.Is0">
        <Container Display="Display.Flex.Column" Padding="Padding.Is0">
            @Body
        </Container>
    </Div>
</Div>