@* TODO: This layout needs to be changed in order to  Show Blog for defualt  *@
@using BlogModels.Models
@inherits LayoutComponentBase
@* TODO: This layout needs to be changed in order to  Show Blog for defualt  *@
@Body

<Div Margin="Margin.IsAuto.OnX" Padding="Padding.Is5">
    <Div Margin="Margin.Is5.FromBottom" TextAlignment="TextAlignment.Center">
        <Heading Size="HeadingSize.Is2" TextWeight="TextWeight.Bold">
            Blog Posts
        </Heading>
        <Paragraph Margin="Margin.Is2.FromTop" TextColor="TextColor.Muted">
            In this section, delve deeper into the intricacies of our blogs. Retain your reader's attention by offering insightful and valuable content.
        </Paragraph>
    </Div>
    <Grid Columns="GridColumns.Are4">
        <Div Padding="Padding.Is3" Border="Border.Is1.Rounded" Shadow="Shadow.Small">
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Margin="Margin.Is3.FromBottom" TextColor="TextColor.Muted">
                <Badge Color="Color.Info" Pill>
                    Tutorial
                </Badge>
                <Span>
                    16 days ago
                </Span>
            </Div>
            <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
                Autodesk looks to future of 3D printing with Project Escher
            </Heading>
            <Paragraph Margin="Margin.Is3.FromBottom">
                In today's fast-paced digital landscape, the nuances of online etiquette have become increasingly important. From the early days of internet forums to the modern era of social media influencer culture, the way we interact online has seen a dramatic evolution. But what does 'netiquette' truly mean in 2023
            </Paragraph>
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center">
                <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is4">
                    <Image Source="img/profile/profile-3.jpg" Border="Border.RoundedCircle" Style="width: 1.75rem; height: 1.75rem;" />
                    <Span>Ryan Samuel</Span>
                </Div>
                <Anchor To="#" Title="Link to blog post">
                    Read more
                    <Icon Name="IconName.ArrowRight" />
                </Anchor>
            </Div>
        </Div>
        <Div Padding="Padding.Is3" Border="Border.Is1.Rounded" Shadow="Shadow.Small">
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Margin="Margin.Is3.FromBottom" TextColor="TextColor.Muted">
                <Badge Color="Color.Info" Pill>
                    Article
                </Badge>
                <Span>
                    12 days ago
                </Span>
            </Div>
            <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
                Autodesk looks to future of 3D printing with Project Escher
            </Heading>
            <Paragraph Margin="Margin.Is3.FromBottom">
                In today's fast-paced digital landscape, the nuances of online etiquette have become increasingly important. From the early days of internet forums to the modern era of social media influencer culture, the way we interact online has seen a dramatic evolution. But what does 'netiquette' truly mean in 2023
            </Paragraph>
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center">
                <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is4">
                    <Image Source="img/profile/profile-12.jpg" Border="Border.RoundedCircle" Style="width: 1.75rem; height: 1.75rem;" />
                    <Span>Otto Gonzalez</Span>
                </Div>
                <Anchor To="#" Title="Link to blog post">
                    Read more
                    <Icon Name="IconName.ArrowRight" />
                </Anchor>
            </Div>
        </Div>
        <Div Padding="Padding.Is3" Border="Border.Is1.Rounded" Shadow="Shadow.Small">
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Margin="Margin.Is3.FromBottom" TextColor="TextColor.Muted">
                <Badge Color="Color.Info" Pill>
                    Tutorial
                </Badge>
                <Span>
                    16 days ago
                </Span>
            </Div>
            <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
                Autodesk looks to future of 3D printing with Project Escher
            </Heading>
            <Paragraph Margin="Margin.Is3.FromBottom">
                In today's fast-paced digital landscape, the nuances of online etiquette have become increasingly important. From the early days of internet forums to the modern era of social media influencer culture, the way we interact online has seen a dramatic evolution. But what does 'netiquette' truly mean in 2023
            </Paragraph>
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center">
                <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is4">
                    <Image Source="img/profile/profile-3.jpg" Border="Border.RoundedCircle" Style="width: 1.75rem; height: 1.75rem;" />
                    <Span>Ryan Samuel</Span>
                </Div>
                <Anchor To="#" Title="Link to blog post">
                    Read more
                    <Icon Name="IconName.ArrowRight" />
                </Anchor>
            </Div>
        </Div>
        <Div Padding="Padding.Is3" Border="Border.Is1.Rounded" Shadow="Shadow.Small">
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Margin="Margin.Is3.FromBottom" TextColor="TextColor.Muted">
                <Badge Color="Color.Info" Pill>
                    Article
                </Badge>
                <Span>
                    12 days ago
                </Span>
            </Div>
            <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
                Autodesk looks to future of 3D printing with Project Escher
            </Heading>
            <Paragraph Margin="Margin.Is3.FromBottom">
                In today's fast-paced digital landscape, the nuances of online etiquette have become increasingly important. From the early days of internet forums to the modern era of social media influencer culture, the way we interact online has seen a dramatic evolution. But what does 'netiquette' truly mean in 2023
            </Paragraph>
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center">
                <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is4">
                    <Image Source="img/profile/profile-12.jpg" Border="Border.RoundedCircle" Style="width: 1.75rem; height: 1.75rem;" />
                    <Span>Otto Gonzalez</Span>
                </Div>
                <Anchor To="#" Title="Link to blog post">
                    Read more
                    <Icon Name="IconName.ArrowRight" />
                </Anchor>
            </Div>
        </Div>
    </Grid>
    <Grid Columns="GridColumns.Are4">
        <Div Padding="Padding.Is3" Border="Border.Is1.Rounded" Shadow="Shadow.Small">
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Margin="Margin.Is3.FromBottom" TextColor="TextColor.Muted">
                <Badge Color="Color.Info" Pill>
                    Tutorial
                </Badge>
                <Span>
                    16 days ago
                </Span>
            </Div>
            <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
                Autodesk looks to future of 3D printing with Project Escher
            </Heading>
            <Paragraph Margin="Margin.Is3.FromBottom">
                In today's fast-paced digital landscape, the nuances of online etiquette have become increasingly important. From the early days of internet forums to the modern era of social media influencer culture, the way we interact online has seen a dramatic evolution. But what does 'netiquette' truly mean in 2023
            </Paragraph>
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center">
                <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is4">
                    <Image Source="img/profile/profile-3.jpg" Border="Border.RoundedCircle" Style="width: 1.75rem; height: 1.75rem;" />
                    <Span>Ryan Samuel</Span>
                </Div>
                <Anchor To="#" Title="Link to blog post">
                    Read more
                    <Icon Name="IconName.ArrowRight" />
                </Anchor>
            </Div>
        </Div>
        <Div Padding="Padding.Is3" Border="Border.Is1.Rounded" Shadow="Shadow.Small">
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Margin="Margin.Is3.FromBottom" TextColor="TextColor.Muted">
                <Badge Color="Color.Info" Pill>
                    Article
                </Badge>
                <Span>
                    12 days ago
                </Span>
            </Div>
            <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
                Autodesk looks to future of 3D printing with Project Escher
            </Heading>
            <Paragraph Margin="Margin.Is3.FromBottom">
                In today's fast-paced digital landscape, the nuances of online etiquette have become increasingly important. From the early days of internet forums to the modern era of social media influencer culture, the way we interact online has seen a dramatic evolution. But what does 'netiquette' truly mean in 2023
            </Paragraph>
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center">
                <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is4">
                    <Image Source="img/profile/profile-12.jpg" Border="Border.RoundedCircle" Style="width: 1.75rem; height: 1.75rem;" />
                    <Span>Otto Gonzalez</Span>
                </Div>
                <Anchor To="#" Title="Link to blog post">
                    Read more
                    <Icon Name="IconName.ArrowRight" />
                </Anchor>
            </Div>
        </Div>
        <Div Padding="Padding.Is3" Border="Border.Is1.Rounded" Shadow="Shadow.Small">
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Margin="Margin.Is3.FromBottom" TextColor="TextColor.Muted">
                <Badge Color="Color.Info" Pill>
                    Tutorial
                </Badge>
                <Span>
                    16 days ago
                </Span>
            </Div>
            <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
                Autodesk looks to future of 3D printing with Project Escher
            </Heading>
            <Paragraph Margin="Margin.Is3.FromBottom">
                In today's fast-paced digital landscape, the nuances of online etiquette have become increasingly important. From the early days of internet forums to the modern era of social media influencer culture, the way we interact online has seen a dramatic evolution. But what does 'netiquette' truly mean in 2023
            </Paragraph>
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center">
                <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is4">
                    <Image Source="img/profile/profile-3.jpg" Border="Border.RoundedCircle" Style="width: 1.75rem; height: 1.75rem;" />
                    <Span>Ryan Samuel</Span>
                </Div>
                <Anchor To="#" Title="Link to blog post">
                    Read more
                    <Icon Name="IconName.ArrowRight" />
                </Anchor>
            </Div>
        </Div>
        <Div Padding="Padding.Is3" Border="Border.Is1.Rounded" Shadow="Shadow.Small">
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Margin="Margin.Is3.FromBottom" TextColor="TextColor.Muted">
                <Badge Color="Color.Info" Pill>
                    Article
                </Badge>
                <Span>
                    12 days ago
                </Span>
            </Div>
            <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom">
                Autodesk looks to future of 3D printing with Project Escher
            </Heading>
            <Paragraph Margin="Margin.Is3.FromBottom">
                In today's fast-paced digital landscape, the nuances of online etiquette have become increasingly important. From the early days of internet forums to the modern era of social media influencer culture, the way we interact online has seen a dramatic evolution. But what does 'netiquette' truly mean in 2023
            </Paragraph>
            <Div Flex="Flex.JustifyContent.Between.AlignItems.Center">
                <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is4">
                    <Image Source="img/profile/profile-12.jpg" Border="Border.RoundedCircle" Style="width: 1.75rem; height: 1.75rem;" />
                    <Span>Otto Gonzalez</Span>
                </Div>
                <Anchor To="#" Title="Link to blog post">
                    Read more
                    <Icon Name="IconName.ArrowRight" />
                </Anchor>
            </Div>
        </Div>
    </Grid>

</Div>
