@* TODO: This layout needs to be changed in order to  Show Blog for defualt  *@
@using BlogModels.Models
@inherits LayoutComponentBase
@* TODO: This layout needs to be changed in order to  Show Blog for defualt  *@

    <div id="menu" class="menu-right">
        <ul>
            <li>
                <form class="menu-search">
                    <div class="form-group header">
                        <a href="#" class="close-menu"><i class="icon-close"></i></a>
                    </div>
                </form>
            </li>
            <li><NavLink href="/" class="nav-link"><i class="icon-lime"></i>Home</NavLink></li>
            <li><NavLink href="/about" class="nav-link"><i class="icon-user"></i>About</NavLink></li>
            <li><NavLink href="/speaking" class="nav-link"><i class="icon-user"></i>Speaking</NavLink></li>
            <li><NavLink href="/podcast" class="nav-link"><i class="icon-user"></i>Podcast</NavLink></li>
        </ul>
    </div>
    <div id="wrap">
        <div id="main-nav" class="">
            <div class="container">
                <div class="nav-header">
                    <NavLink class="nav-brand" href="/">
                        @*<img src="img/FullLogo.png" />*@
                    </NavLink>
                    <a class="menu-link nav-icon" href="#"><i class="icon-menu2"></i></a>
                    <NavLink class="btn btn-blog outline-white pull-right" href="/podcast">Podcast</NavLink>
                    <NavLink class="btn btn-blog outline-white pull-right" href="/speaking">Speaking</NavLink>
                    <NavLink class="btn btn-blog outline-white pull-right" href="/about">About</NavLink>
                    <NavLink class="btn btn-blog outline-white pull-right" href="/">Home</NavLink>
                </div>
            </div>
        </div>
        <div class="content">
            @Body
        </div>

        <footer>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        @* Add your Blazor components or code here for BlogStats, RecentBlogs, and TagLinks *@
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p class="pull-left">Designed by <a href="http://www.xltants.com" rel="nofollow">Xltants IT Solutions</a></p>
                    <ul class="social-links pull-right">
                        <li><a href="https://twitter.com/xltants"><i class="icon-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/xltants/"><i class="icon-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <div class="modal fade login" id="loginModal" aria-hidden="true">
        @* Add your Blazor component or code here for LoginModal *@
    </div>