
@page "/dashboard-default"

<Row Margin="Margin.Is2.FromBottom.Is3.FromBottom.OnFullHD">
    <Column ColumnSize="ColumnSize.IsAuto" Display="Display.None.Block.OnTablet">
        <Heading Size="HeadingSize.Is3">Dashboard</Heading>
    </Column>

    <Column ColumnSize="ColumnSize.IsAuto" Margin="Margin.IsAuto.FromStart" TextAlignment="TextAlignment.End" Class="mt-n1">
        <Dropdown Margin="Margin.Is2.FromEnd" Display="Display.Inline">
            <DropdownToggle Color="Color.Light">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Calendar" />
                Today
            </DropdownToggle>
            <DropdownMenu>
                <Heading Class="dropdown-header">Settings</Heading>
                <DropdownItem>Action</DropdownItem>
                <DropdownItem>Another action</DropdownItem>
                <DropdownItem>Something else here</DropdownItem>
                <DropdownDivider />
                <DropdownItem>Separated link</DropdownItem>
            </DropdownMenu>
        </Dropdown>
        <Button Color="Color.Primary" Shadow="Shadow.Small">
            <Icon Name="IconName.Filter" />
        </Button>
        <Button Color="Color.Primary" Shadow="Shadow.Small">
            <Icon Name="IconName.Sync" />
        </Button>
    </Column>
</Row>

