@page "/ManagePost"
<ConentPanel PanelTitle="Blogs List">
    <RightSesction>
        <NavLink class="btn btn-primary" href="ManageAccount">
            <span class="oi oi-plus" aria-hidden="true"></span>
            Add New
        </NavLink>
    </RightSesction>
    <PanelContent>

    </PanelContent>
</ConentPanel>